---
repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v6.0.0
      hooks:
          - id: trailing-whitespace
    - repo: https://github.com/JohnnyMorganz/StyLua
      rev: v2.3.1
      hooks:
          - id: stylua
    - repo: https://github.com/lovesegfault/beautysh
      rev: v6.4.2
      hooks:
          - id: beautysh
    - repo: https://github.com/jumanjihouse/pre-commit-hook-yamlfmt
      rev: 0.2.3
      hooks:
          - id: yamlfmt
